div#container
{
   width: 1280px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   background-image: url(images/gradient.jpg);
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}

#container1 a
{
	color: black;
}
input[type=submit]
{
	font-size: 14px;
	font-weight: bold;
	padding: 5px 15px;
	margin: 0px 0px 0px 80px;
}
input[type=submit]:hover
{
	font-size: 14px;
	font-weight: bold;
	padding: 5px 15px;
	margin: 0px 0px 0px 80px;
	background-color:white;
}
#container1
{
	float: left;
	width: 310px;
	height: 553px;
	border: 1px solid blue;
	position: relative;
}
#container2
{
	float: left;
	width: 456px;
	height: 553px;
	border: 1px solid red;
}
#infront
{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100%;
}
#infront2
{
	font-family: Helvetica;
	font-size: 14px;
	position: absolute;
	top: 50px;
	left: 360px;
	width: 100%;
}
#Shape11
{
   border-width: 0;
}
#Shape1
{
   border-width: 0;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Line1
{
   color: #57ABAD;
   background-color: #57ABAD;
   border-width: 0;
   margin: 0;
   padding: 0;
}
#Shape2
{
   border-width: 0;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 a
{
	color: black;
	text-decoration: none;
}
#wb_Text4 a:hover
{
	color: blue;
	text-decoration: underline;
}
#wb_Text4 div
{
   text-align: left;
}
#Shape3
{
   border-width: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text5 div
{
   text-align: justify;
}
#Shape4
{
   border-width: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text6 div
{
   text-align: justify;
}
#Shape5
{
   border-width: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text7 div
{
   text-align: justify;
}
#Shape6
{
   border-width: 0;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image7
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image8
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image9
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#PageFooter1
{
   background-color: #FFFACD;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
